<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>This is the HomePage</h1>
    <h4>Projects</h4>
    <p>Projects will be collections of Notes and Files.</p>
</br>
    <h4>Notes</h4>
    <p>Notes will be collections of text, potentially with links</p>
</br>
    <h4>Files</h4>
    <p>Files will be uploaded files associated with Projects</p>
</br>

</body>
</html>